
	<h1>Accounts</h1>

	<table class='table table-striped table-bordered'>
	 <thead>
	  <tr>
      <th class='span2'>Account Name</th>
      <th class='span2'>Account Balance</th>
      <th class='span2'>Account Group</th>
      <th class='span2'>Account Number</th>
      <th class='span2'>Account Sort Code</th>
	  </tr>
	 </thead>
	 <tbody>
	     <tr>
        <td><%= @accounts.name %></td>
        <td>puts "XXX"</td>
        <td>puts "XXX"</td>
        <td>puts "XXX"</td>
        <td>puts "XXX"</td>
	     </tr>
	 </tbody>
	</table>
